@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;

}

@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
:root {
  --typing-font:3rem;
}

*
{
  margin:0;
  padding: 0;
}
body{
  font-family: 'Raleway';
}
.App
{
  display: flex;
  width: 100vw;
  min-height: 100vh;
}
nav
{
  padding:100px 30px 0px 30px ;
  flex:var(--sidebar-flex);
  background: rgb(241, 174, 194);
  background: linear-gradient(180deg, rgb(223, 175, 189) 50%, rgb(164, 226, 164) 80%);
}
.condiv
{
  padding: 60px ;
  background-color: #d3e9d0;
  flex:var(--condiv-flex);
}

.home
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.name {
color: #5d5f61;
font-size: 50px;
font-weight: bold;
margin-top:150px;
margin-bottom: 30px;
}

.profilepic
{
  border-radius: 50%;
  width: 200px;

}
.typingeffect
{
  font-size: var(--typing-font);
  font-family: 'Special Elite', cursive;
  margin-bottom: 700px;
  margin-top: 50px;
  font-size: 30px;
  opacity: 0.7;
}

nav ul{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}
nav ul li
{
  margin:75px;
}

a
{
  text-decoration: none;
  color: white;
}

.subtopic
{
  margin:60px 10px 30px 10px !important;
  font-weight:bolder; 
}
p{
  font-size: var(--fontsize-p);
}
h1,h2,h3,h4,h5,p{
  margin: 10px;
  font-weight: 400;
}
.social
{
  position: fixed;
  margin-left: 89px;
  margin-top: 5px;
  display: flex;
}
.social i
{
  padding-right: 30px;
  font-size: 25px;
  color: #5d5f61;
}
.social i:hover
{
  color: #a8a3a3;
}
.widecard
{
  border:0px solid #9a9b9c;
  display: flex;
  margin:30px 0px 30px 0px;
}
.widecard:hover
{
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.active
{
  font-weight: bolder;
}
.skills ul li
{
  list-style-type:none;
  margin:30px;
}

@media all and (max-width: 450px) {
  :root {
    --fontsize-nav:1rem;
    --sidebar-flex:0;
    --typing-font:2rem;
  }
  .App
  {
    flex-direction: column;
  }
  .sidebar
  {
    padding: 30px;
    background: rgb(238,103,143);
    background: linear-gradient(90deg, rgba(238,103,143,1) 50%, rgba(132,124,252,1) 80%);
  }
  .condiv
  {
    padding: 50px ;
  }
  nav ul
  {
    display: flex;
  }
  nav ul li
  {
    margin: 10px;
  }
  .social
  {
    left:0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    bottom: 100px;
  }
  .social i
  {
    padding-right: 0px;
  }
}

.card {
  background: #fff;
  border-radius: 2px;
  height: 425px;
  margin: 1rem;
  position: relative;
  width: 300px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .img-container {
  height: 50%;
  overflow: hidden;
  text-align: center;
  background:#fff;
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

  .btn {
    margin-bottom: 10px;
  }



